<HTML>
<HEAD>
<TITLE>ﾌｨｰﾄﾞﾊﾞｯｸ･ﾌｫｰﾑ</TITLE>
</HEAD>
<!--- The following is required for the system --->
<FORM ACTION = "/cgi-bin/form.cgi" METHOD = "POST">

<!--- The following is required for the system --->
<INPUT TYPE = "hidden" NAME = "formtype" VALUE = "generic">
<INPUT TYPE = "hidden" NAME = "setup_file" VALUE = "form/feedback_ja.setup">

<BLOCKQUOTE>
<HR>
<H2>ﾌｨｰﾄﾞﾊﾞｯｸ･ﾌｫｰﾑ見本 </H2>
<H4>(これはｻﾝﾌﾟﾙですので、御社の必要性にあわせて自由に作り直して下さい)</H4>
<HR>

<TABLE BORDER = "0">

<TR>
<TH ALIGN = "right">お名前:</TH>
<TD><INPUT TYPE ="text" NAME ="enduser_name" SIZE="55" MAXLENGTH="35"></TD>
</TR>


<TR>
<TH ALIGN = "right">*Emailｱﾄﾞﾚｽ:</TH>
<TD><INPUT TYPE="text" NAME="enduser_email_" SIZE="55" 
    MAXLENGTH = "35"></TD>
</TR>

<TR>
<TH ALIGN = "right">*ｺﾒﾝﾄ:</TH>
<TD><TEXTAREA WRAP="virtual" NAME="comments_" ROWS = "10" COLS = "55">
</TEXTAREA></TD>
<TR>
<TH ALIGN = "left"></TH>
<TD>
<INPUT TYPE = "submit" VALUE = "このﾌｫｰﾑを送る(S)">
<INPUT TYPE = "reset" VALUE = "画面ｸﾘｱ(C)">
</TR>

</TABLE>
</BLOCKQUOTE>
</FORM>
</BODY>
</HTML>
