<BODY BGCOLOR = "FFFFFF" TEXT = "000000">

<HTML>
<HEAD>
<TITLE>ｵｰﾀﾞｰ･ﾌｫｰﾑ</TITLE>
</HEAD>

<!--- ｵｰﾀﾞｰ･ﾌｫｰﾑご記入の際は、下記の３点を必ずご記入下さい。--->
<FORM ACTION = "/cgi-bin/form.cgi" METHOD = "POST">
<INPUT TYPE = "hidden" NAME = "formtype" VALUE = "generic">
<INPUT TYPE = "hidden" NAME = "setup_file" VALUE = "form/order_ja.setup">
<!--- ｵｰﾀﾞｰ･ﾌｫｰﾑご記入の際は、上記の３点を必ずご記入下さい。 --->

<BLOCKQUOTE>

<HR>
<H2>ｵｰﾀﾞｰ･ﾌｫｰﾑ見本 </H2>
<H4>(これはｻﾝﾌﾟﾙですので、御社の必要性にあわせて自由に作り直して下さい。)</H4>
<HR>

<UL></UL>

<!--- 頭に'_'をつけた下記の入力は、Webmasterが解読可能なﾕｰｻﾞ定義として入力されたものです。 --->
<TABLE BORDER = "0">

<TR>
<TH ALIGN = "right">お名前:</TH>
<TD><INPUT TYPE = "text" NAME = "name" SIZE = "34" MAXLENGTH = "35"></TD>
</TR>

<TR>
<TH ALIGN = "right">お電話番号:</TH>
<TD><INPUT TYPE = "text" NAME = "phone" SIZE = "34" MAXLENGTH = "35"></TD>
</TR>

<TR>
<TH ALIGN = "right">御住所:</TH>
<TD><INPUT TYPE = "text" NAME = "addr" SIZE = "34" MAXLENGTH = "35"></TD>
</TR>

<TR>
<TH ALIGN = "right">*Emailｱﾄﾞﾚｽ:</TH>
<TD><INPUT TYPE = "text" NAME = "email_" SIZE = "34" MAXLENGTH = "35"></TD>
</TR>

<TR>
<TH ALIGN = "left"></TH>
<TD>
<INPUT TYPE = "submit" VALUE = "このﾌｫｰﾑを送る(S)">
<INPUT TYPE = "reset" VALUE = "画面ｸﾘｱ(C)">
</TR>
</TABLE>
</BLOCKQUOTE>
</FORM>
</BODY>
</HTML>
